<form autocomplete="off">
  <label>
    value
    <input type="text" name="value" value="QRious" spellcheck="false">
  </label>
  <label>
    size
    <input type="number" name="size" placeholder="100" min="100" max="1000" value="250">
  </label>
  <label>
    padding
    <input type="number" name="padding" placeholder="Auto" min="0">
  </label>
  <label>
    level
    <select name="level">
      <option value="L">L - 7% damage</option>
      <option value="M">M - 15% damage</option>
      <option value="Q">Q - 25% damage</option>
      <option value="H">H - 30% damage</option>
    </select>
  </label>
  <label>
    background color
    <input type="color" name="background" value="#ffffff">
  </label>
  <label>
    background alpha
    <input type="number" name="backgroundAlpha" placeholder="1" min="0" max="1" step="0.1" value="1">
  </label>
  <label>
    foreground color
    <input type="color" name="foreground" value="#000000">
  </label>
  <label>
    foreground alpha
    <input type="number" name="foregroundAlpha" placeholder="1" min="0" max="1" step="0.1" value="1">
  </label>
</form>